* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  /* figma */
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;

  /* dynamic */
  padding-left: min(6.4vw, 77px);
  padding-top: min(5.33vw, 40px) 
}

main {
  /* responsive web design 
  https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;

  /* dynamic */
  padding-top: min(17.08vw, 200px);
  
}

main img {
  /* dynamic */
  
  /*max-width: 539.22px;
  width: 76.488vw;*/
  width: min(76.488vw, 539.22px);  
  padding-bottom: min(17.08vw, 200px);
}


.head {
  /* figma*/
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.035em;

  color: #333333;
  margin: 0 0 36px 0;

  /* dynamic */
  max-width: 586px;
  
  font-size: min(12.8vw, 64px);
  line-height: min(20vw, 95px);
}

.paragraph {
  /* figma  */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.035em;

  color: #4F4F4F;

  margin: 0;
  /* dynamic */
  max-width: 381px;
  
  font-size: min(4.8vw, 24px);
  line-height: min(7.2vw, 36px);
}

.text button {
  width: 216px;
  height: 68px;
  border: #333333;
  background: #333333;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #FFFFFF;

  /* dynamic */
  margin: 64px 0 min(30.4vw, 308px) 0;
}

footer {
  /* figma  */
  font-family: 'Montserrat';
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #BDBDBD;
  
  margin-bottom: 24px;
}

footer.username {
  font-weight: bold;
}

@media only screen and (min-width: 1311px)  {
  main {
    justify-content: space-between;
    margin-left: min(6.4vw, 77px);
    margin-right: 8.264vw;
  }
}

@media only screen and (max-device-width: 960px) {
  .text {
    margin-left: 6.4vw;
  }
}